.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
    min-width: 400px;
}

.w-full {
    width: 100%;
}

h2[mat-dialog-title] {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 0;
}

mat-dialog-content {
    padding-top: 20px !important;
}